<div class="head" style="background: url(<%= '/assets/' + @spot.img %>) center;background-size:cover;"></div>
<section class="spot">
	<div class="main">
		<div class="row">
			<div class="info">
				<h3><%= @spot.name %></h3>
				<p><%= @spot.location %> &nbsp; &bull; &nbsp; Created by <a href="#" class="link grey">Braggin Street Team</a></p>
			</div>
			<div class="competitorBox">
				<div class="num"><i class="fa fa-users"></i> <span>95 Competitors</span></div>
				<div class="join">
					<button class="button teal">Compete</button>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div class="large-8 columns">
				<!-- About -->
				<article class="about">
					<h3>About this spot</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies sagittis tempus. Maecenas quis ipsum augue. Maecenas sit amet pharetra ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed metus lectus, placerat ut interdum nec, congue et risus.</p>
				</article>
				<!-- King of the spot -->
				<article class="king">
					<h3>King of the Spot</h3>
					<div class="kingBox">
						<div class="row">
							<div class="large-6 columns">
								<span class="posTag gold">#1</span>
								<img src="https://3.bp.blogspot.com/-JiCRFs9dd-Y/T7clx-FcM7I/AAAAAAAAAFY/7SRBDetpb0I/s1600/venice+skatepark+3.JPG">
								<span class="videoTag">4:02</span>
							</div>
							<div class="large-6 columns">
								<a href="#"><h2>Shredding The Park</h2></a>
								<span>by <strong>Jeffrey Davis</strong></span>
								<p>5,951 Views &bull; 2 Weeks Ago</p>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div class="large-12 columns">
				<!-- Competitors -->
				<article class="competitors">
					<h3>Competitors</h3>
					<div class="row">
						<!-- 1 -->
						<div class="large-4 columns end competitor">
							<div class="video">
								<span class="posTag silver">#2</span>
								<img src="http://www.caughtinthecrossfire.com/uploads/2012/06/we-always-make-sure-we-get-a-skate-in-me-at-Venice-Beach-630x472.jpg">
								<span class="videoTag">2:38</span>
							</div>
							<div class="info">
								<a href="#"><h4>Easy Grinding</h4></a>
								<span>by <strong>Thomas L.</strong></span>
								<p>3,154 Views &bull; 2 Weeks Ago</p>
							</div>
						</div>
						<!-- 2 -->
						<div class="large-4 columns end competitor">
							<div class="video">
								<span class="posTag bronze">#3</span>
								<img src="http://www.trbimg.com/img-51bb7247/turbine/la-ol-coastal-commission-scathingly-rejects-pa-001/600/600x388">
								<span class="videoTag">1:58</span>
							</div>
							<div class="info">
								<a href="#"><h4>Rolling High</h4></a>
								<span>by <strong>Michael Chambers</strong></span>
								<p>2,432 Views &bull; 1 Week Ago</p>
							</div>
						</div>
						<!-- 3 -->
						<div class="large-4 columns end competitor">
							<div class="video">
								<span class="posTag">#4</span>
								<img src="http://www.blogcdn.com/www.joystiq.com/media/2010/05/skate3interview09.jpg">
								<span class="videoTag">3:12</span>
							</div>
							<div class="info">
								<a href="#"><h4>Bowl Time</h4></a>
								<span>by <strong>Jimmy K.</strong></span>
								<p>1,854 Views &bull; 1 Week Ago</p>
							</div>
						</div>
						<!-- 4 -->
						<div class="large-4 columns end competitor">
							<div class="video">
								<span class="posTag">#5</span>
								<img src="https://i.ytimg.com/vi/zgleL2kHwLs/maxresdefault.jpg">
								<span class="videoTag">4:25</span>
							</div>
							<div class="info">
								<a href="#"><h4>Bringin A Crowd</h4></a>
								<span>by <strong>Carl Hemes</strong></span>
								<p>984 Views &bull; 6 Days Ago</p>
							</div>
						</div>
						<!-- 5 -->
						<div class="large-4 columns end competitor">
							<div class="video">
								<span class="posTag">#6</span>
								<img src="https://cbsla.files.wordpress.com/2013/07/rsz_veniceskate.jpg">
								<span class="newTag">New</span>
								<span class="videoTag">2:43</span>
							</div>
							<div class="info">
								<a href="#"><h4>Catching Air</h4></a>
								<span>by <strong>Kim Yung</strong></span>
								<p>425 Views &bull; 2 Days Ago</p>
							</div>
						</div>
						<!-- 6 -->
						<div class="large-4 columns end competitor">
							<div class="video">
								<span class="featTag">Featured</span>
								<span class="posTag">#7</span>
								<img src="http://nosetothewind.com/wp-content/uploads/2013/04/venice_beach-9008.jpg">
								<span class="newTag">New</span>
								<span class="videoTag">2:38</span>
							</div>
							<div class="info">
								<a href="#"><h4>Sunset Breeze</h4></a>
								<span>by <strong>Richard Brannigan</strong></span>
								<p>154 Views &bull; Yesterday</p>
							</div>
						</div>
					</div>
				</article>
				<!-- Map -->
				<article class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13232.877039639792!2d-118.4745429!3d33.9869015!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x635f1fdc6f199ffe!2sVenice+Skate+Park!5e0!3m2!1sen!2sus!4v1448182912538" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</article>
				<!-- Other Spots -->
				<article class="similar spots">
					<h3>Similar Spots</h3>
					<div class="row spotPage">
						<div class="large-4 columns end">
							<div class="spotBox">
								<%= image_tag "belvedere.png" %>
								<div class="info">
									<h4>Belvedere Skate Park</h4>
									<span>East Los Angeles, CA <i>&bull;</i> <b>6.4</b> miles away</span></span>
									<div class="extra">
										<b>63</b> Competitors
									</div>
								</div>
							</div>
						</div>
						<div class="large-4 columns end">
							<div class="spotBox">
								<%= image_tag "lincoln.png" %>
								<div class="info">
									<h4>Lincoln Park Skate Park</h4>
									<span>East Los Angeles, CA <i>&bull;</i> <b>7.3</b> miles away</span></span>
									<div class="extra">
										<b>47</b> Competitors
									</div>
								</div>
							</div>
						</div>
						<div class="large-4 columns end">
							<div class="spotBox">
								<%= image_tag "stoner.png" %>
								<div class="info">
									<h4>Stoner Skate Plaza</h4>
									<span>East Los Angeles, CA <i>&bull;</i> <b>5.9</b> miles away</span></span>
									<div class="extra">
										<b>26</b> Competitors
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<script>
	var joinPos = $(".join").offset().top - 70;
	var comPos = $(".competitors").offset().top - 250;
	$(document).scroll(function() {
		if($(window).scrollTop() >= joinPos && $(window).scrollTop() <= comPos) {
			$(".join").addClass("keep");
		} else if ($(window).scrollTop >= joinPos && $(window).scrollTop() >= comPos) {
			$(".join").addClass("stay");
		}

	});
</script>
